*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    background-color: #8a0f1e;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    flex-wrap: wrap;
    align-items: center;
}

.header i{

    font-size: 100px;
    color: #fffffc;
}

.header.fa-solid{
    font-size: 100px;
    color:#7a38cc ;
}





.menu li a{
text-decoration: none;
color:#baffdd ;
padding: 10px;
background-color:#9d072e ;
}

.menu li{
margin-left: 0px;
}

.menu{
    display: flex;
}

h1{
    text-align: center;
    margin-top: 100px;
    color:#001821 ;
    border-radius: 10px;
    border: solid #009f00;
}

.section{
    display: flex;
    max-width:1100px;
    margin: 0 auto;
    margin-bottom: 80px;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
}

.section img{
    
    max-width: 200px;
    display: block;
    
    
}

.section div{
    margin: 80px;
    flex: 1 1 200px;
}

.santos{
    background-color: #8eac26;
    color: #b21d3b;
    padding: 100px;
    font-size: 20px;
}

.santos{
    background-color: #000016;
    padding: 70px ;
    color: #8a0f1e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.list-rodape{
    display: flex;
   
}

.list-rodape li{
    margin-right: 40px;
    list-style: none;
 
}

.list-rodape li a{
    text-decoration: none;
    font-size: 25px;
    color: #75070f;
}

.list-rodape li a:hover{
    color: blueviolet;
    transition: 0,6s;
    

}



.rodape i{
    color: #1292c0;
    font-size: 25px;
    padding: 15px;
    margin-left: 30px;
    background-color: #c8ff00;
    border-radius: 5px;
    
    

}

.corinthians{
    background-color: #b4ffbc;
    padding: 250px;
    color: #000016;
}














