*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    background-color: brown;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    flex-wrap: wrap;
}

.header i{

    font-size: 50px;
    color: aliceblue;
}

.header i ul{
    font-size: 50px;
    color: blueviolet;
}

.menu li a{
text-decoration: none;
color: aqua;
padding: opx;
background-color: brown;
}

.menu li{
margin-left: 20px;
}

.menu{
    display: flex;
}








